body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: #ffffff;
    padding: 40px 60px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 50px; /* add space at the top of the form */
  }
  
  h2 {
    color: #333;
    font-size: 24px;
    text-align: center;
    margin-bottom: 24px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd; /* Đường viền nhẹ */
    border-radius: 4px; /* Bo tròn góc */
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
button[type="submit"],
button[type="button"] { /* Áp dụng chung cho cả hai loại nút */
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px; /* Khoảng cách giữa các nút */
    transition: background-color 0.3s;
}
  
button[type="submit"] {
    background-color: #5cb85c; /* Màu nền cho nút Đăng nhập */
}

button[type="submit"]:hover {
    background-color: #4cae4c; /* Thay đổi màu khi hover */
}

button[type="button"] {
    background-color: #337ab7; /* Màu nền cho nút Đăng kí */
}

button[type="button"]:hover {
    background-color: #286090; /* Thay đổi màu khi hover */
}
  /* Add responsive behavior */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    h2 {
        font-size: 20px; /* Giảm kích thước tiêu đề cho màn hình nhỏ */
    }
}
  
  /* Additional styles for placeholder, focus states can be added as needed */
  